doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Задание 2 - ШРИ
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/styles.css')
  body
    main.main
      h1 список студентов
      
      section.student__section
        .student__section-list
                    
        button.btn#addStudent Добавить студента  
        
      
      section.student__team
        h3.student__team-title Команда A
        .student__team-nav
          .student__team-select-block
          button.btn.student__team-btn.js_add-to-team Добавить в команду  
        h3 Список участников команды
        ul.student__team-list#teamA
        
        table.student__team-table
          thead 
            tr
              - var th = ['Имя студента','Индивидуальные задания','Оценки за индивидуальное задание','Командные задания','Оценки за командные задания']
              each thItem in th
                th=thItem
          tbody
            
      section.student__team
        h3.student__team-title Команда B
        .student__team-nav
          .student__team-select-block
          button.btn.student__team-btn.js_add-to-team Добавить в команду  
        h3 Список участников команды
        
        ul.student__team-list#teamB
        table.student__team-table
          thead 
            tr
              - var th = ['Имя студента','Индивидуальные задания','Оценки за индивидуальное задание','Командные задания','Оценки за командные задания']
              each thItem in th
                th=thItem
          tbody
      
          
        
    script(src='https://code.jquery.com/jquery-1.12.3.min.js', integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=', crossorigin='anonymous')
    
    script(src='js/script.js')
