doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Задание 2 - ШРИ
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/styles.css')
  body
    main.main
      h1 список студентов
      
      section.student__section
        .student__section-list
                    
        button.btn#addStudent Добавить студента  
        
      
      section.student__team
        h3.student__team-title Команда A
        .student__team-nav
          .student__team-select-block
          button.btn.student__team-btn.js_add-to-team Добавить в команду  
        h3 Список участников команды
        ul.student__team-list#teamA
        h3 Список индивидуальных заданий
        table.student__team-table
          thead 
            tr
              - var th = ['Имя студента','Индивидуальные задания','Оценки за индивидуальное задание', '']
              each thItem in th
                th=thItem
          tbody
        h3 Список командных заданий
        table.student__group-table
          thead 
            tr
              - var th = ['Командные задания','Оценки за командное задание', '']
              each thItem in th
                th=thItem
          tbody
            tr
              td.group-task__list
              td.group-task__mark
              td.group-task__btn-wrapper
                button.group-task__btn.js_add-group-task Добавить задание
            
      section.student__team
        h3.student__team-title Команда B
        .student__team-nav
          .student__team-select-block
          button.btn.student__team-btn.js_add-to-team Добавить в команду  
        h3 Список участников команды
        
        ul.student__team-list#teamB
          
        h3 Список индивидуальных заданий
        
        table.student__team-table
          thead 
            tr
              - var th = ['Имя студента','Индивидуальные задания','Оценки за индивидуальное задание', '']
              each thItem in th
                th=thItem
          tbody
            
        h3 Список командных заданий
        
        table.student__group-table
          thead 
            tr
              - var th = ['Командные задания','Оценки за командное задание', '']
              each thItem in th
                th=thItem
          tbody
            tr
              td.group-task__list
              td.group-task__mark
              td.group-task__btn-wrapper
                button.group-task__btn.js_add-group-task Добавить задание
      
      h2 Список менторов
      .teacher__section-list 
      br
      h3 Приоритезированный список ментора
      #tWishlist01.teacher__wishlist
        .teacher__name Ментор
        .teacher__select-block
        button.btn.wishlist-btn.js_to-wishlist добавить в список
        ol.teacher__wishlist-block
        
      
          
        
    script(src='https://code.jquery.com/jquery-1.12.3.min.js', integrity='sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=', crossorigin='anonymous')
    
    script(src='js/script.js')
